input[type="button"]{
cursor: pointer;
width: 10em;
height: 3.5em;
font-size: 1.9em;
border:none;
  background: -webkit-linear-gradient(rgb(0, 194, 253), rgb(248, 141, 2));
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

input[type="button"]:active{
    transform: scale(0.9);
}