input[type="button"]{
cursor: pointer;
width: 10em;
height: 3.4em;
font-size: 1.9em;
border:none;
  background: -webkit-linear-gradient( #f80202,#0043fdef);
  -webkit-background-clip:text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

input[type="button"]:active{
    transform: scale(0.9);
}