.Display {
  cursor:none;
  margin-top: 0.2em;
   width:99.2%;
   border:none;
   font-size:xxx-large;
    background: -webkit-linear-gradient(#33ff00,#ff0022);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color:transparent;
  caret-color: #ffffff
}
